@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";

/* @import "footer.css"; */

/* ============================ */

:root {
  --transition: all .4s;
}

.hero__wrapper {
  /* position: relative; */
  /* flex-grow: 1; */
}

.hero__slider {
  width: 100%;
  height: 550px;
  background: #DCE5E2;
  border-radius: 32px;
  position: relative;
}

.hero__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}


.hero__content {
  margin: 0 56px;

}

.hero__info {
  max-width: 580px;
}

.hero__title {
  font-family: 'ReadexPro';
  font-size: 58px;
  line-height: 69.6px;
  margin-bottom: 19px;
}

.hero__text {
  font-family: 'Inter18pt';
  line-height: 19.2px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.hero__button {
  width: 170px;
  height: 50px;
  font-family: 'Inter18pt';
  line-height: 19.2px;

  transition: var(--transition);
}

.hero__button:hover {
  background: #ffffff77;
  border: 1px solid #867c7c;
}

.hero__img img {
  align-items: end;
  width: 100%;
  max-width: 647px;
  max-height: 550px;

  gap: 20px;
  padding: 30px 30px 0 0;
}

.hero__img-one img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  bottom: 0;
  right: 0;

  transform: scale();
}


.hero__img-three img {
  padding-top: 0;
}

.hero__nav {
  display: flex;
  gap: 30px;
  position: absolute;
}

.hero__prev,
.hero__next {
  background: transparent;
  cursor: pointer;
  max-width: 12px;
  max-height: 24px;
  color: #434343;
  flex-shrink: 0;

  position: absolute;
}

.hero__prev {
  left: 19px;
}

.hero__next {
  /* left: 92vw; */
  right: 19px;
}

.swiper-scrollbar {
  /* position: absolute; */
  right: 0;
  margin: 0 auto;

  max-width: 600px;
  height: 2px;
  margin-bottom: 34px;
}

.swiper-scrollbar .swiper-scrollbar-drag {
  background: #434343;
  height: 3px;
}


/* =============================== */
/* =============================== */
/* =============================== */

@media (max-width: 1300px) {

  /* .hero__slide {
    display: flex;
    grid-template:none;
    gap: 0px;
    margin-bottom: 40px;
  } */

  /* .hero__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 19px;
  } */

  .hero__img-one {}
}

@media (max-width: 900px) {

  .header__top {
    margin-bottom: 50px;
  }

  .header__top-inner {
    margin: 0;
  }

  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #DCE5E2;
    padding: 26vh 15px 30px;
    font-size: 24px;
    flex-direction: column;
    align-items: center;

    transform: translate(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .body--opened-menu .nav {
    transform: translate(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
    height: 24px;
  }


}

@media (max-width: 600px) {

  .header__top {
    align-self: start;
  }
}